{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "CreateDiff (Debug with .env)",
      "type": "dart",
      "request": "launch",
      "toolArgs": [
        "--dart-define-from-file=.env"
      ]
    },
    {
      "name": "CreateDiff (Release with .env)",
      "type": "dart",
      "request": "launch",
      "flutterMode": "release",
      "toolArgs": [
        "--dart-define-from-file=.env"
      ]
    }
  ]
}
